.compentwidth{
    width: 1200px;
    margin: 0 auto;
}
.headnav{
    background: #f4f4f4;
    .headnav-main{
        .headnav-left{
            float: left;
            a{
                line-height: 28px;
                color: #998c59;
            }
        }
        .headnav-right{
            float: right;
            .head-linklogin{
                float: left;
                a{
                    line-height: 28px;
                    color: #999999;
                }
                a:nth-child(2){
                    color: #ae0f17;
                    margin-left: 10px;
                }
            }
            .head-nav-content{
                line-height: 28px;
                float: left;
                a{
                    display: inline-block;
                    margin-right: 10px;
                    color: #999;
                }
                .customerservice{
                    display: inline-block;
                    margin-right: 10px;
                }
                span{
                    margin: 0 20px;
                    color: #CCCCCC;
                }
                .head-nomargin{
                    margin-right: 0;
                }
                
            }
        }
    }
}

.seek{
    background: #FFFFFF;
    .seek-box{
        height: 115px;
//      左
        .seek-box-left{
            float: left;
            margin-top: 18px;
            h1{
                float: left;
                display: inline-block;
                height: 75px;
                a{
                    display: block;
                }
            }
            .head-rightimg{
                float: left;
                display: inline-block;
                height: 75px;
                img{
                    height: 75px;
                }
            }
        }
//      中
        .seek-box-conten{
            width: 392px;
            float: left;
            padding-top: 35px;
            margin-left: 100px;
            position: relative;
            .seek-input{
                .seek-input-ma{
                    width: 316px;
                    height: 40px;
                    float: left;
                    overflow: hidden;
                    border: 1px solid #ddd;
                    span{
                        display: inline-block;
                        height: 38px;
                        width: 30px;
                        line-height: 38px;
                        text-align: center;
                        font-size: 16px;
                    }
                    .seek-input-cn{
                        height: 38px;
                        width: 270px;
                        border: 0;
                        outline: none;
                    }
                }
                .seek-btn{
                    width: 76px;
                    height: 40px;
                    float: left;
                    text-align: center;
                    background: linear-gradient(-270deg,#da6666 0,#b33636 100%);
                    a{
                        line-height: 40px;
                        color: #FFFFFF;
                        font-size: 16px;
                    }
                }
            }
            .input-bottom{
                width: 316px;
                color: #C7254E;
                top: 75px;
                z-index: 99;
                background: #FFFFFF;
                position: absolute;
                box-shadow: 1px 3px 4px #ccc;
                padding: 0 15px 10px;
                .input-bottom-head{
                    height: 32px;
                    width: 100%;
                    line-height: 32px;
                    margin-bottom: 5px;
                    span{
                        color: #CCCCCC;
                    }
                }
                .input-bottom-wrop{
                    width: 100%;
                    a{
                        display: inline-block;
                        height: 32px;
                        line-height: 30px;
                        border: 1px solid #ce1336;
                        color: #ce1336;
                        padding: 0 5px;
                        margin-right: 5px;
                        border-radius: 5px;
                        margin-bottom: 10px;
                    }
                    a:hover{
                        background: linear-gradient(-270deg,#da6666 0,#b33636 100%);
                        color: #FFFFFF;
                    }
                    a:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
//      右
        .seek-box-right{
            float: right;
            a{
                img{
                    height: 100%;
                }
            }
        }
    }
}
.nav{
    .nav-main{
        .nav-left{
            float: left;
            .nav-title{
                width: 200px;
                height: 48px;
                background: linear-gradient(269deg,#b34747 1%,#cc5252 98%);
                padding: 0 15px;
                float: left;
                a{
                    display: inline-block;
                    color: #FFFFFF;
                    font-size: 14px;
                    width: 100%;
                    span{
                        line-height: 48px;
                        display: inline-block;
                        float: left;
                    }
                    i{
                        line-height: 48px;
                        display: inline-block;
                        float: right;
                    }
                }
            }
            .nav-content{
                float: left;
                position: relative;
                height: 48px;
                overflow: hidden;
                ul{
                    li{
                        float: left;
                        height: 48px;
                        line-height: 38px;
                        margin-left: 24px;
                        font-size: 14px;
                        position: relative;
                        padding-bottom: 10px;
                        a{
                            display: block;
                            border-bottom: 4px solid rgba(0,0,0,0);
                        }
                    }
                    li:hover{
                        a{
                            border-color: #CE1336;
                        }
                    }
                    .nav-action{
                        a{
                            border-color: #CE1336;
                        }
                    }
                    
                }
            }   
        }
        .nav-right{
            float: right;
            a{
                display: inline-block;
                width: 48px;
                height: 48px;
                text-align: center;
                line-height: 48px;
                i{
                    font-size: 25px;
                }
            }
        }
    }
}
.footer{
    .footer-acti-log{
        background: #fff;
        border-top: 1px solid #ee;
        .footer-top-box{
            height: 70px;
            ul{
                height: 100%;
                text-align: center;
                li{
                    float: left;
                    width: 20%;
                    height: 100%;
                    a{
                        font-size: 16px;
                        display: block;
                        height: 70px;
                        line-height: 50px;
                        i{
                            font-size: 42px;
                            display: inline-block;
                            color: #ccbb77;
                            transform: translateX(-5px) translateY(10px);
                        }
                    }
                }
            }
        }
    }
    .footer-acti-cent{
        background: #333;
        padding-bottom: 40px;
       .footer-cent-box{
           .footer-centop{
                   padding: 44px 0 80px;
               .footer-centop-left{
                   width: 150px;
                   height: 132px;
                   float: left;
                   p:nth-child(1){
                       font-size: 14px;
                       color: #ccaa7a;
                       font-weight: 700;
                       margin-bottom: 12px;
                   }
                   p:nth-child(2){
                       font-size: 22px;
                       color: #ccaa7a;
                       line-height: 31px;
                   }
                   p:nth-child(3){
                       font-size: 12px;
                       color: #999999;
                   }
                   a{
                       display: block;
                       width: 134px;
                       height: 38px;
                       border: 1px solid #999;
                       color: #999;
                       border-radius: 19px;
                       text-align: center;
                       line-height: 36px;
                       margin-top: 16px;
                   }
                   a:hover{
                       background: #ccaa7a;
                       color: #FFFFFF;
                   }
               }
               .footer-centop-centon{
                   float: left;
                   margin-left: 144px;
                   dl{
                       float: left;
                       width: 80px;
                       overflow: hidden;
                       color: #CCCCCC;
                       margin-right: 30px;
                       dt{
                           font-size: 14px;
                           font-weight: 700;
                           margin-bottom: 13px;
                       }
                       dd{
                           display: block;
                           line-height: 28px;
                           a{
                               color: #999;
                           }
                           a:hover{
                               color: #FFFFFF;
                           }
                       }
                   }
               }
               .footer-centop-right{
                   float: right;
                   margin-right: 100px;
                   a{
                       display: block;
                       height: 130px;
                       img{
                           height: 130px;
                       }
                   }
               }
           }
           .footer-cenbottom{
               .footer-nav{
                   text-align: center;
                   a{
                       display: inline-block;
                       margin: 10px;
                       color: #999;
                   }
                   span{
                       color: #999;
                   }
               }
               .copyright-a{
                   text-align: center;
                   margin-bottom: 10px;
                   color: #999;
               }
               p{
                   text-align: center;
                   margin-bottom: 10px;
                   color: #999;
               }
           }
       } 
    }
}
