/*
Error: Invalid GBK character "\xE5"
        on line 134 of C:\Users\Administrator\Desktop\text\css\text.scss

129:                     height: 21px;
130:                     position: relative;
131:                     margin-left: 10px;
132:                  }
133:             }
134: //          右侧轮播图
135:             .goods-swiper{
136:                 padding-left: 20px;
137:                 padding-right: 20px;
138:                 .swiper-container{
139:                     

Backtrace:
C:\Users\Administrator\Desktop\text\css\text.scss:134
C:/Users/Administrator/AppData/Local/Temp/HZ$D.904.1358/HZ$D.904.1359/koalakfpt_ttrar/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1323:in `rescue in block in find_encoding_error'
C:/Users/Administrator/AppData/Local/Temp/HZ$D.904.1358/HZ$D.904.1359/koalakfpt_ttrar/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1320:in `block in find_encoding_error'
C:/Users/Administrator/AppData/Local/Temp/HZ$D.904.1358/HZ$D.904.1359/koalakfpt_ttrar/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each'
C:/Users/Administrator/AppData/Local/Temp/HZ$D.904.1358/HZ$D.904.1359/koalakfpt_ttrar/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each_with_index'
C:/Users/Administrator/AppData/Local/Temp/HZ$D.904.1358/HZ$D.904.1359/koalakfpt_ttrar/rubygems/gems/sass-3.4.9/lib/sass/util.rb:1319:in `find_encoding_error'
C:/Users/Administrator/AppData/Local/Temp/HZ$D.904.1358/HZ$D.904.1359/koalakfpt_ttrar/rubygems/gems/sass-3.4.9/lib/sass/util.rb:896:in `check_sass_encoding'
C:/Users/Administrator/AppData/Local/Temp/HZ$D.904.1358/HZ$D.904.1359/koalakfpt_ttrar/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:423:in `check_encoding!'
C:/Users/Administrator/AppData/Local/Temp/HZ$D.904.1358/HZ$D.904.1359/koalakfpt_ttrar/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:379:in `_to_tree'
C:/Users/Administrator/AppData/Local/Temp/HZ$D.904.1358/HZ$D.904.1359/koalakfpt_ttrar/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Users/Administrator/AppData/Local/Temp/HZ$D.904.1358/HZ$D.904.1359/koalakfpt_ttrar/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Users/Administrator/AppData/Local/Temp/HZ$D.904.1358/HZ$D.904.1359/koalakfpt_ttrar/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
C:/Users/Administrator/AppData/Local/Temp/HZ$D.904.1358/HZ$D.904.1359/koalakfpt_ttrar/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
C:/Users/Administrator/AppData/Local/Temp/HZ$D.904.1358/HZ$D.904.1359/koalakfpt_ttrar/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
C:/Users/Administrator/AppData/Local/Temp/HZ$D.904.1358/HZ$D.904.1359/koalakfpt_ttrar/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
C:/Users/Administrator/AppData/Local/Temp/HZ$D.904.1358/HZ$D.904.1359/koalakfpt_ttrar/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
C:/Users/Administrator/AppData/Local/Temp/HZ$D.904.1358/HZ$D.904.1359/koalakfpt_ttrar/bin/sass:18:in `load'
C:/Users/Administrator/AppData/Local/Temp/HZ$D.904.1358/HZ$D.904.1359/koalakfpt_ttrar/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE5\"\A         on line 134 of C:\Users\Administrator\Desktop\text\css\text.scss\A \A 129:                     height: 21px;\A 130:                     position: relative;\A 131:                     margin-left: 10px;\A 132:                  }\A 133:             }\A 134: //          右侧轮播图\A 135:             .goods-swiper{\A 136:                 padding-left: 20px;\A 137:                 padding-right: 20px;\A 138:                 .swiper-container{\A 139:                     "; }
